@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #500c13, #e90a20);
    }

    #login {
        width: 90vw;
    } 

    #login > #imagem {
        float: left;
        width: 65%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 35%;
    }

    #formulario > h1{
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #500c13, #e90a20);
    }

    #login {
        width: 990px;
    }

    #login > #imagem {
        float: right;
        width: 65%;
        height: 100%;
    }

    #login  > #formulario {
        float: left;
        width: 35%;
    }

    #formulario > h1{
        font-size: 2.3em;
    }

    #formulario > p {
        font-size: 1.1em;
    }
}