@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #10D4FF, #3E00FF, #A600FF);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #001230e3;
}

h1{
    color: #001E51;
    text-align: center;
    text-shadow: 1px 1px 2px #00153ad8;
}

h2{
    color: #A600FF;
}